@model uibulbul.Models.Vehicle

<p>@Html.DisplayNameFor(model => model.Model): @Model.Model</p>
<p>@Html.DisplayNameFor(model => model.Price): @Model.Price</p>
<p>@Html.DisplayNameFor(model => model.Id): @Model.Id</p>
